.visually-hidden {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(
    1px 1px 1px 1px
  ); /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(
    1px,
    1px,
    1px,
    1px
  ); /*maybe deprecated but we need to support legacy browsers */
  clip-path: inset(
    50%
  ); /*modern browsers, clip-path works inwards from each corner*/
  white-space: nowrap; /* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
}

.hero__slogan {
  max-width: 500px;
}

@media screen and (min-width: 1200px) {
  .hero__slogan {
    width: 700px;
  }
}
@media screen and (max-width: 550px) {
  .hero__slogan {
    max-width: 250px;
  }
}
@media screen and (min-height: 700px) {
  .hero__slogan {
    max-width: 800px;
  }
}

@media screen and (max-height: 500px) {
  .hero__slogan {
    max-width: 400px;
  }
}

.active_link {
  border-radius: 0;
  border-bottom: 2px solid #9d9d9d;
}
